.bash_history
.cache/
.cargo/
.config/BraveSoftware/
.config/cef_user_data/
.config/coc/
.config/dconf/
.config/discord/
.config/gtk-3.0/
.config/gtk-2.0/
.config/htop/
.config/libfm/
.config/light/
.config/neofetch/
.config/nitrogen/
.config/pcmanfm/
.config/QtProject.conf
.config/spotify/
.config/VirtualBox/
Downloads/
gamemode/
.gnupg/
.gtkrc-2.0
.icons/
.INSTALL
.lesshst
.local/
misc/
.MTREE
Pictures/
.PKGINFO
.pki/
.rustup/
.steam/
.steampath/
.steampid/
.vim/
.viminfo
.wget-hsts
.Xauthority
.xinitrc-default
yay/
.zcompdump
