.bash_history
.cache/
.cargo/
.config/BraveSoftware/
.config/cef_user_data/
.config/coc/
.config/dconf/
.config/discord/
.config/gtk-3.0/
.config/gtk-2.0/
.config/htop/
.config/libfm/
.config/libreoffice/
.config/light/
.config/lxsession/
.config/mimeapps.list
.config/neofetch/
.config/nitrogen/
.config/pcmanfm/
.config/QtProject.conf
.config/spotify/
.config/user-dirs.*
.config/VirtualBox/
.dmrc
Documentos/
Downloads/
Escritorio/
gamemode/
.gnupg/
.gtkrc-2.0
.icons/
Imágenes/
.INSTALL
.lesshst
.local/
misc/
Música/
.MTREE
Pictures/
.PKGINFO
.pki/
Plantillas/
Público/
.rustup/
.steam/
.steampath
.steampid
.vim/
.viminfo
Vídeos/
.wget-hsts
.Xauthority
.xinitrc-default
.xsession-errors
.xsession-errors.old
yay/
.zcompdump
