* {
  font-family: "FiraMono Nerd Font";
}

$od-black: #5c6370;
$od-red: #e06c75;
$od-green: #98c379;
$od-yellow: #e5c07b;
$od-blue: #61afef;
$od-magenta: #c678dd;
$od-cyan: #56b6c2;
$od-white: #abb2bf;

.time-widget {
}
